<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Scourgify Cleaner
  </title>
  <link rel="stylesheet" type="text/css" href="MClehome.css">
</head>
 
<body>
    <body style="background-color:rgb(129, 149, 192);"></body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='#'>SCOURGIFY</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    
                    <li><a href='/index'>REQUESTED ORDERS</a></li>
                    
                    
                    <li><a href='/Mcontact2'>CONTACT US</a></li>
                    <li><a href='/Mmain'>LOGOUT</a></li>
                </ul>
            </nav>
        </div>


</body>
</html>