<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="Mcontact2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  </head>
  <body>  
    

    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>Mahim West,Mumbai</div>
        <div><i class="fas fa-envelope"></i>admscourgify@gmail.com</div>
        <div><i class="fas fa-phone"></i>89898 89898</div>
        
        <div><i class="fas fa-home"></i><a href="/MCushome" style="color: #f8faf5">Home</a></div>
      </div>
      <div class="contact-form">
        <h2>Contact Us</h2>
        <form class="contact" action="https://formsubmit.co/admscourgify@gmail.com" method="POST">
          <input type="text" name="name" class="text-box" placeholder="Your Name" style="margin-right: 12px;" required>
          <input type="email" name="email" class="text-box" placeholder="Your Email" required>
          <textarea name="message" rows="5" placeholder="Your Message" required></textarea>

          <input type="submit" name="submit" class="send-btn" value="Send">
        </form>
      </div>
    </div>

    
  </body>
 

</html>