<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Client Home</title>
      <link rel="stylesheet" href="MCushome.css">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   </head>
   <body>
      <body style="background-color:rgba(8, 8, 8, 0.89);"></body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='#'>SCOURGIFY</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='/Mhome'>SERVICES</a></li>
                    <li><a href='/Mupload'>UPLOAD</a></li>
                   
                    <li><a href='/Mcontact'>CONTACT US</a></li>
                    <li><a href='/Mmain'>LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        <center>
           <div class="intro">
        <h1>SERVICES WE OFFER!!</h1>
        <p>- - - Listed below are our available services - - -</p>
        </div>

        
      <!---Slider-->
      <div class="slider owl-carousel">
         <div class="card">
            <div class="img">
               <img src="z1.jpeg" alt="">
            </div>
            <div class="content">
               <div class="title">
                  SOFA CLEANING
               </div> 
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="z2.jpeg" alt="">
            </div>
            <div class="content">
               <div class="title">
                  CARPET & UPHOLSTERY
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="z6.jpg" alt="">
            </div>
            <div class="content">
               <div class="title">
                  WINDOW & FACADE
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="z4.jpg" alt="">
            </div>
            <div class="content">
               <div class="title">
               KITCHEN & BATHROOM
               </div>
            </div>
         </div>
         <div class="card">
            <div class="img">
               <img src="z5.jpg" alt="">
            </div>
            <div class="content">
               <div class="title">
                     VACUUMING
               </div>
            </div>
         </div>
      </div>
      </center>
      



<div class="name">
      <a class="line" href="#">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         POST-CONSTRUCTION
       </a>
       <a class="line" href="#">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         COMMERCIAL
       </a>
       <a class="line" href="#">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         RESIDENTIAL & OFFICE
       </a>
      </div>





<div class="fill">
   <ul>
      <li>After Party Cleaning</li>
      <li>Places of Worship</li>
      <li>Building Cleaning</li>
      <li>Educational Center</li>
    </ul>
</div>






      <div class="wrapper">
         <div class="box">
            <div class="front-face">
               
               <span><center>Regular Cleaning</center></span>
            </div>
            <div class="back-face">
              
               <p>
                 Involves dusting all surfaces and decorations, vacuuming carpets and mopping floors, changing bedding, plus cleaning the bathroom and kitchen.
               <br>Perfect for: smaller properties such as apartments/flats            
               </p>
            </div>
         </div>
         <div class="box">
            <div class="front-face">
               
               <span><center>Deep cleaning</center></span>
            </div>
            <div class="back-face">
               
               <p>
                 More comprehensive than a regular clean. Deep cleaning involves moving furniture around so that eMoppers can blitz every last spider web and speckle of dust.
                <br>Perfect for: larger houses and properties with pets.            
               </p>
            </div>
         </div>
         <div class="box">
          <div class="front-face">
             
             <span><center>End-of-tenancy</center></span>
          </div>
          <div class="back-face">
            
             <p>
                 An ‘extreme’ clean that usually happens when landlords call us after they’ve entered the flat and found the recently-vacated tenants haven’t bothered to clean it for a year!
              <br>   Perfect for: properties that haven’t been cleaned for many months!            
             </p>
          </div>
       </div> 
      </div>
      <script>
         $(".slider").owlCarousel({
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000, //2000ms = 2s;
           autoplayHoverPause: true,
         });
      </script>
   </body>
</html>