<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Mmain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div id="logo">
        Experience an effortless cleaning service
      </div>
      <ul>
        
 
      </ul>
    </div>
    
  </nav>
  <div class="img"></div>
  <div class="container">
    <span class="text1">Scourgify</span>
    <span class="text2">-a cleaning service website-</span>

    <div class="btns">
      <button><a href="/Mlog" style="color: #0a5ebdd0" style="font-family: Franklin Gothic Medium">Explore</a></button>
      
    </div>
  </div>
</body>
</html>
