<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Service</title>
    <link rel="stylesheet" href="Mupload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  </head>
  <body>

<body style="background-color: black">
  <div class="full-page">
    <div class="navbar">
      <div>
        <!-- <a href="website.html">SCOURGIFY</a> -->
      </div>
      <nav>
        <ul id="MenuItems">
          
          <li><a href="/Mmain">BACK</a></li>
          <li>
            <button class="logoutbtn" onclick="logout_on()">LOG OUT</button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-exclamation-circle"></i>Please provide your appropriate details.</div>
        
        <div><i class="fas fa-clock"></i>Working hours MON-SUN (9:00-16:00)</div>
        <div><i class="fas fa-home"></i><a href="/MCushome" style="color: #f8faf5">Home</a></div>
      </div>
      <div class="contact-form">
        <h2>REQUEST SERVICE</h2>
        <form class="contact" action="/upload" method="POST">
          <input type="text" name="fname" class="text-box" placeholder="First Name" style="margin-right: 12px;"required>
          <input type="text" name="lname" class="text-box" placeholder="Last Name" required>
          <input type="email" name="email" class="text-box" placeholder="Email-ID" style="margin-right: 12px;" required>
          <input type="number" name="phone" class="text-box" placeholder="Phone no." required>
          <textarea name="Address"name="Address" class="addr" placeholder="Address (location to be cleaned)" required></textarea>
          <textarea name="message"name="message" class="desc" placeholder="Service Description (Please specify the services your require)" required></textarea>
          

          <input type="file" id="real-file" hidden="hidden" multiple/>
          <button type="button" id="custom-button">CHOOSE IMAGE</button>
          <span id="custom-text">No image chosen, yet.</span>

          <input type="submit" name="submit" class="send-btn" value="UPLOAD">

        </form>
      </div>
    </div>

    <script src="Mupload.js"></script>
  </body>
 

</html>