@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

::selection{
  padding: 100px;
  color: #000;
  background: rgba(5, 5, 5, 0.89);
  }
.full-page
{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.89);
  position: absolute;
  
} 
.navbar
{
    display: flex;
    align-items: center;
    
    padding: 100px;
    padding-left: 0px;
    padding-right: 300px;
    padding-top: 20px;
	
}
nav
{
		position: fixed;
		background: #89b6c2;
		width: 100%;
		padding: 20px 0;
		z-index: 120;
  
}

nav ul 
{
    display: inline-block;
    list-style: none;
  	max-width: 1250px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 100 20px;
}
nav ul li
{
    display: inline-block;
    margin-right: 60px;
}

nav ul li a
{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'Arial';
}
nav ul li button
{
    font-size: 20px;
    color: #ffffff;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer; 
	font-weight: 700;
  font-family: 'Poppins',sans-serif;
}
nav ul li button:hover
{
    color: rgba(147, 229, 243, 0.842);
}
nav ul li a:hover
{
    color: rgba(147, 229, 243, 0.842);
}
a
{
    text-decoration: none;
    color: #cdedf1;
    font-family: 'Franklin Gothic Medium';
    font-size: 28px;
}

.intro{
  font-family: 'Franklin Gothic Medium';
  font-size: 22px;
  padding-bottom: 50px;
  color: #89b6c2;
}
p{
  font-family: 'calibri';
  font-size: 18px;
}






.name{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  background: black;
  font-family: 'calibri';
  padding-bottom: 50px;
}
.line{
  position: relative;
  background: none;
  color: #89b6c2;
  padding: 15px 30px;
  font-size: 22px;
  letter-spacing: 1px;
  overflow: hidden;
  background: none;
  transition: .5s linear;
  transition-delay: 0s;
  font-family: 'montserrat';
}
.line:hover{
  background:crimson;
  color:#89b6c2;
  transition: .5s linear;
  transition-delay: 1s;
}
.line span{
  display: block;
  position: absolute;
}
.line span:nth-child(1){
  top: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent, crimson);
  transition: 0.5s;
  transition-delay: 1s;
}
.line:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.line span:nth-child(2){
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, crimson);
  transition: 0.5s;
  transition-delay: 0.75s;
}
.line:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.line span:nth-child(3){
  bottom: 0;
  right: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(270deg, transparent, crimson);
  transition: 0.7s;
  transition-delay: 0.25s;
}
.line:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.line span:nth-child(4){
  top: 100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(360deg, transparent, crimson);
  transition: 0.5s;
  transition-delay: 0s;
}
.line:hover span:nth-child(4){
  top: -100%;
  transition: 1s;
  transition-delay: 0.75s;
}











.fill{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}

.fill ul {
  padding: 0;
  list-style-type: none;
}

.fill ul li {
  box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
}

.fill ul li:nth-child(odd) {
  background: linear-gradient(to right, #89b6c2, black);
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}

.fill ul li:nth-child(even) {
  background: linear-gradient(to left, #89b6c2, black);
  text-align: right;
  padding-right: 10%;
  transform: perspective(500px) rotateY(-45deg);
}

.fill ul li:nth-child(odd):hover {
  transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}

.fill ul li:nth-child(even):hover {
  transform: perspective(200px) rotateY(-45deg);
  padding-left: 5%;
}












/*slider*/
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #000000;
}
.slider{
  max-width: 1100px;
  display: flex;
  padding-bottom: 100px;
}
.slider .card{
  flex: 1;
  margin: 0 30px;
  background: rgba(0, 0, 0, 0.3);
}
.slider .card .img{
  height: 300px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 0px 20px;
}
.card .content .title{
  font-size: 22px;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;
  color: #89b6c2;
}
.card .content .sub-title{
  font-size: 25px;
  font-weight: 500;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
.wrapper{
  
  display: grid;
  margin: 50px 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
@media (max-width: 700px) {
  .wrapper{
    margin: 200px auto;
    
  }
}
.wrapper .box{
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  padding-bottom: 100px;
}
.wrapper .box .front-face{
  background: rgb(184, 184, 212);
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.box .front-face .icon{
  height: 80px;
}
.box .front-face .icon i{
  font-size: 65px;
}
.box .front-face span,
.box .back-face span{
  font-size: 22px;
  font-weight: 600;
  font-family: 'montserrat';
  text-transform: uppercase;
}
.box .front-face .icon i,
.box .front-face span{
  background: linear-gradient(-135deg, #000000, #000000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: rgb(255, 255, 255);
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #89b6c2, #000000);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(4, 22, 61, 0.788);
  transition: all 0.5s ease;
}
.box .back-face p{
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;
  font-family: 'calibri';
  font-weight: 10px;
}
.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}
.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
